pandas
numpy
scikit-learn
sentence-transformers
transformers
torch
faiss-cpu
streamlit
plotly
matplotlib
seaborn
nltk
pyyaml
joblib
python-dateutil
uvicorn
fastapi
pydantic
sqlalchemy
alembic
openai
psycopg2-binary  # if you use Postgres
openpyxl
python-dotenv
streamlit-option-menu
hdbscan
langchain
ollama
faiss-cpu
sentence-transformers
pypdf
python-docx
unstructured 
langchain-experimental 
langchain-community
google-generativeai 
groq  
langchain-groq
reportlab
kaleido==0.2.1
fuzzywuzzy
plotly[kaleido]
python-Levenshtein
